.form-post-details {
    padding: 15px;
    -webkit-box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.35);
}

.post-body {
    width: 100%;
    height: 300px;
    border: 0;
}