<div *ngIf="post" class="container">
  <h1>post {{post.id}} details</h1>
  <div class="divider"></div>
  <form action="" class="form-post-details" (submit)="onSubmit(post.id)">
    <div class="input-field">
      <label for="id"></label>
      <input type="text" name="id" value="{{post.id}}" disabled>
    </div>
    <div class="input-field">
      <label for="title"></label>
      <input type="text" name="title" value="{{post.title}}" disabled>
    </div>
    <div class="input-field">
      <label for="body"></label>
      <textarea class="post-body" name="body" cols="60" rows="60">{{post.body}}</textarea>
    </div>
    <input type="submit" value="submit">
  </form>
</div>