<div class='post-section container'>
  <h1>posts</h1>
  <ul>
    <li *ngFor='let post of posts'class="post-display col s12">
      <a class="post-title" routerLink="/post/{{post.id}}">{{post.title}}</a>
      <br><br>
      <a (click)="onClickDelete(post.id)" class="waves-effect waves-light btn pink accent-3" disable>delete</a>
      <div class="divider"></div>
    </li>
  </ul>
</div>